localstack-resources/stepfunctions/demo-stepfunction.json
{
    "StartAt": "CheckNameExists",
    "States": {
      "CheckNameExists": {
        "Type": "Task",
        "Resource": "state machine arn",
        "InputPath": "$",
        "ResultPath": "$.output",
        "Next": "ChoiceState"
      },
      "ChoiceState": {
        "Type": "Choice",
        "Choices": [
           {
                "Variable": "$.output.nameExists",
                "BooleanEquals": true,
                "Next": "SuccessState"
           }
        ],
        "Default": "FailState"
      },
      "SuccessState": {
        "Type": "Succeed"
      },
      "FailState": {
        "Type": "Fail"
      }
    }
  }